name: pipeline

on:
  workflow_dispatch:
    inputs:
      DOCKER_TAG:
        required: true
        default: 'v1.0'
        type: string

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      # Replace the image tag in horpakjs-depl.yaml with the build number
      - name: Modify Deployment
        run: |
          sed -i "s/hongjsx\/horpakjs:v[0-9]\+\.[0-9]\+/hongjsx\/horpakjs:${{ inputs.DOCKER_TAG }}/g" horpakjs-depl.yaml
          cat horpakjs-depl.yaml

      # Commit and push changes back to the repository
      - name: Commit files
        run: |
          git config --global user.name "Sompote R"
          git config --global user.email "sompote.r@gmail.com"
          git add .
          git commit -m "Modified horpakjs-depl.yaml for ${{ inputs.DOCKER_TAG }}"

      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GIT_TOKEN }}
          branch: main
          force: true
